body {

}
@media only screen and (max-width:768px) body {
  ul.navi li:not(:first-child) {display: none;}
  ul.navi li.icon {
    
  }
}
 p > h2 {
	font-size: x-large;
}

#main {
	width: 100%;

}
.navcolor {

	background: white;  
	width: 100%;
}
#navi ul{
	font-size: auto;
	text-align: center;
	list-style-type: none;


}
#navi nav li a:link, #navi nav a:visited {
	color: white;
}
#navi li {
	margin: 0 auto;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
.navbar {
	font-size: medium;
	text-align:center;
	background: rgba(255, 255, 255, 255, .5);
	width: 355px; 
	min-height: 50px;
	border-width: 0px;
	margin-bottom: 0px;
}
.navbar-default {
	display: inline-block;
	
}
.navbar-default a{
	margin-left: 2px;
	font-size: auto;
	font-weight: bold;
	font-family: arial;
	font-style: normal;
	position:fixed;
	top:0px;
	z-index:999;
	
}
.nav>li>a {
	padding: 2px 1px;
	padding-left: 2px;
	margin: 2px;
	min-height: 50px;
}
.col-xs-6 {
	float: left;
	display: inline-block;
}

.banner {
	background-attachment: fixed;
	width: 100%;
	display: inline;
	max-height: 800px;
	max-width: 100%;
	height: auto;
}
#motto{
	z-index: 5;
	top: 40%;
	right: 0%;
	position: absolute;
	font-style: italic;
	text-align: center;
	font-family: "raleway", sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.horizontal {
	display: inline-block;

}
#aboutsection {
	display: inline-block;
	font-size: large;
	width: 50%;
}
#clientsection {
	display: inline-block;
	width: 50%;
}
#contactform {
  	width: 100%;
}

.contactContainer {
	/*
	background-image: url('../img/gallery.jpg');

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 60%;
	*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#75706f+0,898583+52,785b48+100 */
background: rgb(117,112,111); /* Old browsers */
background: -moz-linear-gradient(top, rgba(117,112,111,1) 0%, rgba(137,133,131,1) 52%, rgba(120,91,72,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(117,112,111,1) 0%,rgba(137,133,131,1) 52%,rgba(120,91,72,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(117,112,111,1) 0%,rgba(137,133,131,1) 52%,rgba(120,91,72,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75706f', endColorstr='#785b48',GradientType=0 ); /* IE6-9 */
	font-size: large;

	padding: 25px;
}
#message {
	min-width:250px;
	min-height: 100px;
	max-height: 500px;
	max-width: 400px;
}
#name, #phone, #email, #message {

	background: rgba(0, 0, 0, 0.9); 
	border: none;
    outline: none;
    color: grey;
    padding: 7px;
    margin: 5px;
    font-style: italic;
}
#button {
	background: black;
	border: none;
    outline: none;
    color: white;
    padding: 10px;
}
#button:hover {
}
#logo {
	background: white; 
	font-family: 'Alex Brush', cursive;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
}
.container {
	width: 100%;
	

}
.containerHeight {
	min-height: 500px;
}
.row {
	max-width: 100%;
	text-align: center;
	font-family: 'Cookie', cursive;
	}
h3 {
	text-align: center;
	width: 100%;
}
p {
	
	font-size: 20px;
}
#hrule {
	width: 90%;
	color: #7b564e;
	 height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.contact {
	padding: 10px;
	background-color: white;
	list-style-type: none;	
	color: black;
	font-size: 30px;
	font-family: 'Cookie', cursive;
	margin-bottom: 5%;
	margin-top: 3%;
	line-height: 25px;
	

}
.contact li{
	list-style-type: none;
	float: left;

	
}

#contactUs {
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 15px;
	border: 0;
	font-size: 25px;
}
#contactUs:hover{
	background-color: #55897d;
	color: white;
	padding: 15px;
	border: 0;
	font-size: 25px;
}
.calig {

	width: 350px;
	max-width: 100%;
	height: 50px;
	height: auto;
	min-width: 200px;
}
#coupon {
	margin-bottom: 15px;
	border-style: dashed;
	border-width: 3px;
	float: right;
	width: 100%;
	max-height: 500px;
	opacity: 0.90;

}
.col-md-4 h3{
	line-height: 180%;
}
.col-md-4 {

	padding: 5px;
}
.col-md-8 {
	font-size: larger;
}
.popover-header {
	color: black;
}
.popover-content {
	color: black;
	font-weight: bold;
}
.popover {
	color: black;
	font-family: 'oswald', sans-serif;

}
#examples {
	color: white;

	background-position: center bottom;
	background-repeat: no-repeat;
	font-size: 3em;
	position: relative;
}


#footer {
	background-color: #0f0f0f;
	list-style-type: none;	
	color: white;
	font-size: 22px;
	line-height: 40px;
	margin-bottom: -2%;
	background-color: gray;


}
.stylishContainer {
	background-image: url('../img/baking.png');
	background-position: 50% 100%;
	font-size: auto;
	font-family: 'Cookie', cursive;
	max-width: 100%;
	letter-spacing: 1px;
	line-height: 35px;
	background-color: #302323;
	font-color: #f1f227;
	
}
.transparent {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
}
#map {
	
	margin-top: 2%;
    max-width: 100%;

}

#hours {
	margin-top: 2%;
    max-width: 540px;
    max-height: 360px;
 

}
.sideImage {
	z-index: 2;
	bottom: -15%;
	right: 25%;
	position: absolute;

}
.text {
	color: #e2b344;
	vertical-align: bottom;
	font-family: 'Cookie', cursive;
	font-size: x-large;
	line-height: 25px;

}
.border {
	border-style: solid;
    border-width: 5px;
    border-color: white;
    width: 100%;
}
.exampleImg {
	padding: 25px;
	height: 400px;
	max-width: 600px;
	
	transition: 0.3s;

}
.modal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
   
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}
.modal-content {

    display: block;
  
    max-width: 400px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.item {
	font-family: 'Cookie', cursive;
	font-size: larger;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    
    max-height: 425px;
    max-width: 460px;
  


}
.carousel-caption {
	text-shadow: 2px 1px black;
	font-size: 35px;
}

.owl-carousel, .item {
	cursor: grab;
	cursor: -webkit-grab;
}
#aboutUs {
	width: 100%;
	min-height: 500px;
	max-height: 500px;
	background-image: url('../img/about.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 50%;
	
}
#aboutUs h1{
	color: white;
	position: absolute;
	top: 50%;
	right: 30%;
	font-family: 'Cookie', cursive;
	font-size: 50px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
}
#about {
	min-height: 250px;
	font-size: auto;
}
#aboutImg img{
	max-height: 500px;
	max-width: 620px;
	border-radius: 8px;
	max-width: 100%;
}
#contactbg h2{
	background-color: rgba(0,0,0.0.5);
	min-height: 10px;
}
#services {
	background-image: url('../img/gallery.jpg');
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 10%;


}
#services h2 {
	color: white;
	position: absolute;
	top: 65%;
	right: 10%;
	font-family: 'Cookie', cursive;
	font-size: 50px;
	border-radius: 5px;
}
#servicesImg img{
	max-height: 400px;
	max-width: 500px;
	border-radius: 8px;
}
.imageGallery img{
	margin: 5px;
	margin-bottom: 10px;
	padding: 2px;
	border-radius: 8px;
	max-width: 400px;
	max-height: 500px;
	max-width: 100%;

}

#emailColor {
	color: #819cd7;
}
.footerv2{
	color: #e2b344;
	font-family: 'Cookie', cursive;
	font-size: auto;
	vertical-align: middle;
}
.glyphFooter {
	color: white;
	width: 38px;
	height: 38px;
	text-align: center;
	font-size: 25px;
	line-height: 42px;
	border-radius: 50%;
	background-color: gray;
	
	display: inline-block;
}
.contactInfo {
	display: inline-block;
}
.mm {
	margin-right: 30px;
}
#mms {
	margin-left: 80px;
}
.pp {
	margin-right: 60px;
}

.ee {
	margin-right: 10px;
}
